@font-face {
    font-family: "norse-bold";
    src: url("assets/norse-bold-webfont.woff2") format("woff2"), url("assets/norse-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
    outline: 0px solid blue;
    box-sizing: border-box;
}

body {
    display: flex;
    min-width: 960px;
    font-family: Arial, Helvetica, sans-serif;
}

.left-panel {
    height: 100vh;
    width: 35%;
    background-image: url("/assets/tree.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.right-panel {
    height: 100vh;
    width: 65%;
    padding-top: calc((100vh - 40rem)/2);
    background-color: rgb(250,250,250);
}

.logo-block {
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: rgb(0,0,0,0.6);
    padding: 1rem;
    position: absolute;
    top: 30%;
}

h1 {
    font-family: "norse-bold";
    font-size: 6rem;
    color: rgb(255,255,255);
}

h2 {
    font-size: 1.5rem;
    color: rgb(0,0,0);
}

img {
    height: 8rem;
}

.text-content {
    padding: 1rem 3rem;
    max-width: 850px;
}

a {
    font-weight: bold;
    color: rgb(100,150,100);
    text-decoration: none;
}

.white-form {
    background-color: rgb(255,255,255);
    margin-top: 1.5rem;
    padding-top: 0.5rem;
    box-shadow: 0px 0px 10px -5px rgb(0,0,0,0.3);
}

button {
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 0.8rem 3rem 0.7rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgb(100,150,100);
    color: rgb(255,255,255);
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0px 2px 5px rgb(0,0,0,0.3);
    cursor: pointer;
}

button:hover,
a:hover {
    filter: brightness(110%);
    transition: 250ms;
}

.form-content {
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
}

.form-input {
    width:48%;
    padding: 1rem 0rem;
}

input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid rgb(200,200,200);
    border-radius: 0.3rem;
    margin-top: 0.2rem;
    font-size: 1rem;
}

label {
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-size: 0.8rem;
    font-weight: bold;
    padding-left: 0.2rem;
}

input:invalid {
    border-color: rgb(180,110,110);
}

input:focus {
    border-color: rgb(50,110,180);
    box-shadow: 0px 0px 4px rgb(0,0,0,0.3);
}